body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    padding: 15px;
    display: inline-block;
}

.push {
    margin-left: auto;
    padding: 15px;
}

.apps {
    margin-left: auto;
}

#ip2 {
    position: relative;
    border-radius: 25px;
    border: 1px transparent grey padding: 20px;
    width: auto;
    max-width: 548px height: 44px;
}

#ip2.hover {
    box-shadow: 3px rgb(219, 219, 219);
}